<header>
    <h1>Todos</h1>
    <div class="d-flex prioritySelect">
        <input 
         class="new-todo" 
         placeholder="What needs to be done?" 
         autofocus 
         [value]="title"
         (keyup)="changeTitle($event)"
         (keyup.enter)="addTodo()"
        />
        <select 
         class="form-control"
         (change)="selectPriority($event)">
            <option  value="Low" selected>Low</option>
            <option  value="Medium">Medium</option>
            <option  value="High">High</option>
        </select>
    </div>
   
</header>
